.git
.github
.venv
.pytest_cache
.ruff_cache
.mypy_cache
.coverage
.coverage.*
htmlcov
output
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.ruff_cache
**/.mypy_cache
**/build
**/dist
**/*.egg-info
docs
tests
node_modules
